.tenthPart {
  background: #ffffff;
  position: relative;
}

.internContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  margin: 0 auto;
  max-width: 80rem;
  padding: 6rem 4rem ;
}

.internContainer span {
  max-width: 480px;
}

.newContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 40px;
}

.newsCard {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  padding: 3rem 2rem;
}

.date {
  width: fit-content;
  border: 2px solid var(--gray);
  padding: 10px;
  font-weight: 700;
  border-radius: 20px;
}

.internTextbox {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.internTextbox h3 {
    color: var(--black);
    font-size: 1.38rem;
}
.internTextbox p {
    line-height: 1.3rem;
    font-size: 0.9rem;
    font-weight: 500;
}

.newsCard button {
  color: var(--white);
  background-color: var(--red);
  margin-top: 0px;
}

.newsCard button svg path {
  fill: var(--white);
}
