@import "../App.css";

.navegation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100px;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  background: var(--black);
  z-index: 90000000;
}

.navegation img {
  max-width: 50px;
}

.navItems {
  display: flex;
  gap: 2rem;
}

.navItems li a {
  font-family: "Montserrat";
  font-weight: 500;
  color: var(--white);
  transition: 0.3s;
}

.navItems li a:hover {
  transition: 0.4s;
  color: var(--red);
}

.userLog {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.userANDabout {
  display: flex;
  gap: 1rem;
}

.userANDabout svg {
  height: 27px;
  transition: 0.1s;
}

.userANDabout svg path {
  color: white;
  fill: white;
}

.userANDabout svg:hover path,
.userANDabout svg:hover {
  color: var(--red);
  fill: var(--red);
  cursor: pointer;
  transition: 0.1s;
}

.clientPlan {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  border: 1px solid var(--grey);
  padding: 0.4rem 0.5rem;
  cursor: pointer;
}

.clientPlan svg {
  height: 35px;
  background-color: red;
  background-size: contain;
}

.clientPlan span {
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
}
