.p {
  color: var(--white);
  padding: 1.2rem 2rem;
  background: url("https://gymate-iota.vercel.app/static/media/titlebg.13d788348b56c629eefb2e7ad1f4d6ce.svg")
    center center no-repeat;
  background-size: 14rem;
  font-weight: 700;
  font-size: 1rem;
  width: fit-content;
}
